[submodule "cmake/modules"]
	path = cmake/modules
	url = https://github.com/magiruuvelvet/shared-cmake-modules.git
[submodule "tests/dunit/dunit"]
	path = tests/dunit/dunit
	url = https://github.com/linkrope/dunit
[submodule "tests/dunit/undead"]
	path = tests/dunit/undead
	url = https://github.com/dlang/undead
[submodule "libs/argparse-d"]
	path = libs/argparse-d
	url = https://github.com/magiruuvelvet/argparse-d
